@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&display=swap');

@font-face {
  font-family: "Steven";
  font-weight: bold;
  src: url("Steven.ttf") format(truetype);
}

@font-face {
  font-family: "DynaPuff";
  font-weight: 100 900;
  src: url("DynaPuff.ttf") format(truetype);
}

@font-face {
  font-family: "Pagaki";
  font-weight: 400;
  src: url("Pagaki.ttf") format(truetype);
}

@theme {
  --font-steven: "Steven", "sans-serif";
  --font-dynapuff: "DynaPuff", "sans-serif";
  --font-pagaki: "Pagaki", "sans-serif";
  --font-national-park: "National Park", "sans-serif";

  --color-forest: hsl(143.53, 24.17%, 41.37%);
  --color-warm: hsl(37.5, 63.77%, 72.94%);
  --color-bread: hsl(39.6, 80.65%, 87.84%);
  --color-vintage-red: hsl(8.98, 52.26%, 47.65%);
  --color-nice-blue: hsl(208.39, 38.59%, 47.25%);
  --color-soft-bone: hsl(39, 80%, 80.39%);
  --color-saddle-taupe: hsl(26.25, 48.28%, 45.49%);

  /* These colors are in HSL not in Hex. Please use HSL */
  --color-burn-sienna: hsl(20, 60%, 50%);
  --color-dark-sienna: hsl(14, 72%, 56%);

  --color-lime-yellow: hsl(60, 72%, 66%);
  --color-faded-lime: hsl(60, 34%, 71%);

  --color-limestone: hsl(44, 53%, 90%);
  --color-faded-limestone: hsl(44, 36%, 84%);

  --color-sky-blue: hsl(200, 87%, 78%);
  --color-dark-blue: hsl(204, 77%, 58%);
}

@keyframes jiggy {
  /* get jiggy with it */
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  75% {
    transform: rotate(-3deg);
  }
}

.animate-jiggy {
  animation: jiggy 4s ease-in-out infinite;
}
