@import "tailwindcss";

@font-face {
    font-family: "Steven";
    font-weight: bold;
    src: font-url("Steven.ttf") format(truetype);
}

@theme {
    --font-steven: "Steven", "sans-serif";
    --color-forest: #508364;
    --color-warm: #e6c58e;
    --color-bread: #f9e8c7;
    --color-vintage-red: #B94D3A;
    --color-nice-blue: #4A7BA7; /* blue is my favirite color, ty */
    --color-soft-bone: #f5d9a5;
    --color-saddle-taupe: #ac6d3c;
}

