<div class="container">
  <header>
    <div class="s header-icon" style="margin-right: 0px"></div>
    <span class="header-title">heidimarket</span>
    <span class="header-out">
      <%= link_to "logout", shop_path %>
    </span>
  </header>
  <main>
    <div>
      <% if defined?(@items_with_computed_data) && @items_with_computed_data %>
        <% @items_with_computed_data.each do |item_data| %>
          <%= render "shop_items/black_market/item", item: item_data[:item], item_data: item_data %>
        <% end %>
      <% else %>
        <% @shop_items.each do |item| %>
          <%= render "shop_items/black_market/item", item: %>
        <% end %>
      <% end %>
    </div>
  </main>
</div>
