<div class="container">
  <header>
    <div class="s header-icon"></div>
    <span class="header-title">heidi's black market :3</span>
    <span class="header-out">
      <%= link_to "logout", shop_path %>
    </span>
  </header>
  <main>
    <div>
      <% @shop_items.each do |item| %>
        <%= render "shop_items/black_market/item", item: %>
      <% end %>
    </div>
  </main>
</div>
