<h1>Shop</h1>

<% admin_tool do %>
    <%= link_to "New shop item", new_shop_item_path %>
<% end %>

<p><%= @shop_items.count %> items</p>

<% @shop_items.each do |item| %>
    <%= render "item", item: %>
<% end %>
