<h1>Shop</h1>

<% admin_tool("mb-4") do %>
    <p>Max item cost is enforced at the postgres level to be $9,999.99 (decimal precision 6, scale 2)</p>

    <%= link_to "New shop item", new_shop_item_path, class: "text-soft-bone px-4 py-2 block hover:bg-saddle-taupe hover-btn-pixel bg-saddle-taupe btn-pixel" %>

    <p><%= @shop_items.count %> items</p>
<% end %>

<%= render "verification_callout" unless current_verification_status == :verified %>

<div class="flex flex-wrap gap-8">
    <% @shop_items.each do |item| %>
        <%= render "item", item: %>
    <% end %>
</div>
