<button
  data-action="click->modal#open"
  data-modal-id="<%= devlog.id %>"
  data-modal-type="comment"
  class="inline-flex items-center py-1 sm:py-1.5 cursor-pointer text-sm sm:text-base"
  onclick="event.stopPropagation()">
  <%= inline_svg_tag "icons/comments.svg", class: "w-6 h-6 mr-1 mb-1 text-som-dark" %>
 <span class="mb-1"> <%= devlog.comments_count %></span>
</button>
