<div data-controller="turbo-actions" class="font-dynapuff w-full max-w-sm ml-0">
  <%= form_with url: sign_up_path, method: :post, data: { turbo: true }, class: "space-y-4" do |f| %>
    <div class="relative">
      <%= image_tag "email.svg", alt: "Email", class: "absolute left-4 top-1/2 transform -translate-y-1/2 w-5 h-5 pointer-events-none z-10 opacity-60 color[#d4c4b0]" %>
      <%= f.email_field :email, required: true, placeholder: "Enter your email...", autocomplete: "email", class: "marble-textarea with-icon w-full" %>
    </div>
    <%= f.submit "Start creating", class: "marble-button w-full text-center" %>
  <% end %>

  <dialog id="signup-modal">
    <div id="modal-content">
    </div>
  </dialog>
</div>
