<div class="fixed inset-0 z-[9999] bg-black/50 hidden"
     id="signup-wizard"
     data-controller="signup-wizard"
     data-signup-wizard-target="modal"
     data-signup-wizard-email-value="">
  <div class="flex items-center justify-center w-full h-full p-4">
    <div class="bg-[#F3ECD8] w-[75vw] max-w-3xl flex flex-col relative overflow-hidden rounded-2xl shadow-2xl border-4 border-[#E4DCC6]"
         data-signup-wizard-target="container">

    <div class="flex-1 p-8 space-y-6 overflow-y-auto">
      <div data-signup-wizard-target="videoContainer" class="text-center space-y-2">
        <div class="space-y-2 flex flex-col items-center">
          <h3 class="text-center text-2xl font-bold">
            Check your email for a message from Slack!
          </h3>
          <p class="text-center text-lg">
            Don't see it? Check your spam folder!
          </p>
          <p class="text-saddle-taupe text-left max-w-2xl mx-auto">
            <span class="font-extrabold">1. Join Slack</span><span class="font-medium italic"> ← YOU ARE HERE</span><br>
            <span class="font-medium">2. Set up your account</span><br>
            <span class="font-medium">3. Start building</span>
          </p>
        </div>

        <div class="p-2 max-w-3xl mx-auto">
          <div class="aspect-video bg-gray-800 rounded-lg flex items-center justify-center text-white relative">
            <%= video_tag "count.mp4",
                         controls: false,
                         muted: true,
                         preload: "auto",
                         playsinline: true,
                         loop: true,
                         class: "w-full h-full rounded-lg",
                         data: {
                           signup_wizard_target: "introVideo"
                         } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
