<div
  x-data="{ open: false }"
  @turbo:submit-end.window="if ($event.detail.success) open = true"
>
  <%= form_with url: sign_up_path, method: :post, data: { turbo: true }, class: "flex flex-col gap-4" do |f| %>
      <%= f.email_field :email, required: true,  class: "btn-fancy text-white py-4 px-8 text-xl lg:text-2xl flex items-center justify-center", style: "background: linear-gradient(135deg, #E06540, #EC8153);" %>

      <%= f.submit "Start creating", class: "btn-fancy text-white py-4 px-8 text-xl lg:text-2xl flex items-center justify-center", style: "background: linear-gradient(135deg, #E06540, #EC8153);" %>
      <!-- <a href="#" class="btn-fancy py-4 px-8 text-xl lg:text-2xl flex items-center justify-center text-white" style="background: linear-gradient(135deg, #CECE9C, #E7E76B);">
        <span>Free Stickers</span>
      </a> -->

  <% end %>

  <!-- any modal markup works; here we use the native <dialog> -->
  <dialog
    x-ref="dlg"
    x-show="open"
    x-on:open.window="$refs.dlg.showModal()"
    x-effect="open ? $refs.dlg.showModal() : $refs.dlg.close()"
    x-transition
    class="modal card-pixel p-4 sm:p-8 bg-bread"
  >
    <h2 class="mb-2">Welcome aboard ✨</h2>
    <p>Check your inbox to confirm your address.</p>
    <p>While you wait...</p>

    <%= video_tag "wat.mp4", autoplay: true, loop: true, controls: true %>

    <button class="btn" @click="open = false">Close</button>
  </dialog>
</div>
