<div data-controller="turbo-actions" class="font-pagaki">
  <%= form_with url: sign_up_path, method: :post, data: { turbo: true } do |f| %>
    <%= f.email_field :email, required: true, placeholder: "Enter your email...", autocomplete: "email", class: "marble-textarea w-full mb-4" %>
    <%= f.submit "Start creating", class: "marble-button w-full" %>
  <% end %>

  <dialog id="signup-modal">
    <div id="modal-content">
    </div>
  </dialog>
</div>
