<div class="flex flex-col items-center justify-center min-h-screen bg-warm">
  <div class="bg-white p-10 rounded-xl shadow-xl text-center max-w-md mx-auto transform transition duration-300 hover:scale-105">
    <h1 class="text-4xl font-steven mb-4 text-gray-800">Welcome to Journey</h1>

    <div class="space-y-4">
      <%= link_to "Sign in with Slack", "/auth/slack",
          class: "inline-block w-full py-3 px-6 bg-black text-white rounded-lg transition duration-300 hover:bg-sage-dark hover:shadow-md" %>

      <p class="text-sm text-gray-500 mt-4">Chris, Click <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">here</a></p>
    </div>
  </div>

</div>
