<div id="like-button-<%= likeable.id %>">
  <% if user_signed_in? %>
    <%= button_to toggle_like_update_path(likeable), 
          remote: true,
          class: "inline-flex items-center py-1 sm:py-1.5 text-gray-600 hover:text-vintage-red transition-colors duration-300 text-sm sm:text-base",
          onclick: "event.stopPropagation()",
          data: { turbo_method: :post } do %>
      <% is_liked = defined?(liked) ? liked : likeable.liked_by?(current_user) %>
      <%= inline_svg_tag "heart.svg", class: "w-4 h-4 sm:w-10 sm:h-10 mr-2 #{is_liked ? 'text-vintage-red' : ''}" %>
      <%= likeable.likes_count %>
    <% end %>
  <% end %>
</div> 