<% if notice %>
  <div class="fixed top-4 right-4 z-50 transform transition-transform duration-500 ease-in-out" 
       data-controller="flash"
       data-flash-target="message"
       data-flash-hide-after-value="5000">
    <div class="bg-forest text-white px-6 py-3 shadow-lg flex items-center space-x-3 btn-pixel">
      <%= inline_svg "check.svg", class: "h-6 w-6" %>
      <p><%= notice %></p>
    </div>
  </div>
<% end %>

<% if alert %>
  <div class="fixed top-4 right-4 z-50 transform transition-transform duration-500 ease-in-out"
       data-controller="flash"
       data-flash-target="message"
       data-flash-hide-after-value="5000">
    <div class="bg-vintage-red text-white px-6 py-3 shadow-lg flex items-center space-x-3 btn-pixel">
      <%= inline_svg "close.svg", class: "h-6 w-6" %>
      <p><%= alert %></p>
    </div>
  </div>
<% end %>
