<% if active_timer_session %>
  <div id="timer-indicator"
       data-controller="timer-indicator"
       data-timer-indicator-active-project-id-value="<%= active_timer_session.project_id %>"
       class="fixed bottom-4 right-4 z-50 cursor-pointer"
       data-action="click->timer-indicator#openTimer">
    <%= image_tag "orpheustimer.png",
                  class: "w-16 h-16 lg:w-32 lg:h-32 2xl:w-48 2xl:h-48 animate-pulse hover:scale-110 transition-transform",
                  alt: "Active Timer" %>
  </div>
<% else %>
  <div id="timer-indicator" class="fixed bottom-4 right-4 z-50 hidden"></div>
<% end %>
