<%# Display all badges for a user %>
<% if user.badges.any? %>
  <div class="flex flex-wrap gap-2 items-center">
    <% user.badges.each do |badge| %>
      <%= render "shared/badge", badge: Badge.find(badge) %>
    <% end %>
  </div>
<% end %>
