<div data-controller="modal" class="cursor-pointer">
  <button data-action="modal#open" data-modal-id="<%= project.id %>" data-modal-type="delete" class="px-3 py-2 bg-vintage-red hover:scale-[1.05] text-white transition-transform duration-300 text-sm md:text-base 2xl:text-xl btn-pixel">
    Delete Project
  </button>
</div>
