<%= turbo_frame_tag dom_id(project, :follow_button) do %>
  <% if defined?(following) ? following : current_user.project_follows.exists?(project_id: project.id) %>
    <%= button_to project_unfollow_path(project), method: :delete, class: "group" do %>
      <div class="som-button-secondary transition-colors">
        <span class="group-hover:hidden">Following</span>
        <span class="hidden group-hover:block">Unfollow?</span>
      </div>
    <% end %>
  <% else %>
    <%= button_to project_follow_path(project), class: "group" do %>
      <div class="som-button-primary transition-colors">
        <span class="group-hover:hidden">Follow</span>
        <span class="hidden group-hover:block">Follow?</span>
      </div>
    <% end %>
  <% end %>
<% end %>
