<% if !project.is_shipped %>
  <div data-controller="modal" class="cursor-pointer">
    <button data-action="modal#open" data-modal-id="<%= project.id %>" data-modal-type="is_shipped" class="px-3 py-2 bg-forest hover:scale-[1.05] text-white transition-transform duration-300 text-sm md:text-base 2xl:text-xl btn-pixel">
      Ship It!
    </button>
  </div>
<% else %>
  <div class="px-3 py-2 text-sm md:text-base 2xl:text-xl text-forest/70 font-medium cursor-not-allowed btn-pixel bg-forest/30">
    Shipped!
  </div>
<% end %>
