<div class="flex justify-center items-center h-screen">
  <div class="bg-vintage-red bg-opacity-30 backdrop-blur-lg p-8 rounded-xl shadow-lg text-center max-w-2xl">
    <h1 class="text-2xl font-bold mb-4">404 Not Found!</h1>
    <p class="text-lg">We can't find the page you're looking for... try using the sidebar to get to where you need. If you expected something different to be here, try asking in #summer-of-making-help</p>
  </div>
</div>
