html {
  color-scheme: dark;
}

body {
  padding: 2rem;
  font-family: sans-serif;
}

.pagy {
  display: flex;
  font-family: sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: #6b7280;
}
.pagy > :not([hidden]) ~ :not([hidden]) {
  --space-reverse: 0;
  margin-right: calc(0.25rem * var(--space-reverse));
  margin-left: calc(0.25rem * calc(1 - var(--space-reverse)));
}
.pagy a:not(.gap) {
  display: block;
  text-decoration: none;
  border-radius: 0.5rem;
  background-color: #e5e7eb;
  padding: 0.25rem 0.75rem;
  color: inherit;
}
.pagy a:not(.gap):hover {
  background-color: #d1d5db;
}
.pagy a:not(.gap):not([href]) {
  /* disabled links */
  cursor: default;
  background-color: #f3f4f6;
  color: #d1d5db;
}
.pagy a:not(.gap).current {
  background-color: #9ca3af;
  color: white;
}
.pagy label {
  white-space: nowrap;
  display: inline-block;
  border-radius: 0.5rem;
  background-color: #e5e7eb;
  padding: 0.125rem 0.75rem;
}
.pagy label input {
  line-height: 1.5rem;
  border-radius: 0.375rem;
  border-style: none;
  background-color: #f3f4f6;
}

.notice {
  background: #d1e1ef;
  font-size: 14px;
  border: 1px solid #c2d2df;
  color: black;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, sans-serif, "GNU Unifont";
  margin: 0.643em auto;
  padding: 0.25em 0.375em;
  clear: right;
  box-shadow: inset 1px 1px 2px;
  border-radius: 0.25em;
  word-wrap: break-word;
}

.notice.success {
  background: #08e54c;
  color: #000000;
  border-color: #14a514;
}

.notice.caution {
  background: #ffe34e;
  color: #000;
  border-color: #d89e36;
}

.notice.error {
  background: #efd1d1;
  border-color: #900;
  box-shadow: 1px 1px 2px;
}
