<h3><%= item.name %></h3>
<b>Description: </b> <%= item.description %> <br>
<b>Real description: </b> <%= item.internal_description %> <br>
<b>IRL FR cost: </b> <%= number_to_currency(item.actual_irl_fr_cost || 0) %> <br>
